*,
*:after,
*:before {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 85%;
  margin: auto;
}

.margin-bottom {
  margin-bottom: 20px;
}
